Anopheles gambiae	Ag_Derby_Ensembl_Metazoa_39.bridge
Arabidopsis thaliana	At_Derby_Ensembl_Plant_39.bridge
Bacillus subtilis	Bs_Derby_Ensembl_91.bridge
Bos taurus	Bt_Derby_Ensembl_91.bridge
Caenorhabditis elegans	Ce_Derby_Ensembl_91.bridge
Canis familiaris	Cf_Derby_Ensembl_91.bridge
Drosophila melanogaster	Dm_Derby_Ensembl_91.bridge
Danio rerio	Dr_Derby_Ensembl_91.bridge
Escherichia coli	Ec_Derby_Ensembl_91.bridge
Gallus gallus	Gg_Derby_Ensembl_91.bridge
Gibberella zeae	Gz_Derby_Ensembl_Fungi_39.bridge
Homo sapiens	Hs_Derby_Ensembl_91.bridge
Mus musculus	Mm_Derby_Ensembl_91.bridge
Oryza japonica	Oj_Derby_Ensembl_Plant_39.bridge
Pan troglodytes	Pt_Derby_Ensembl_91.bridge
Rattus norvegicus	Rn_Derby_Ensembl_91.bridge
Saccharomyces cerevisiae	Sc_Derby_Ensembl_91.bridge
Zea mays	Zm_Derby_Ensembl_Plant_39.bridge
