Anopheles gambiae	Ag_Derby_Ensembl_Metazoa_39.bridge
Aspergillus niger	An_Derby_Ensembl_Fungi_32.bridge
Arabidopsis thaliana	At_Derby_Ensembl_Plant_39.bridge
Bacillus subtilis	Bs_Derby_Ensembl_91.bridge
Bos taurus	Bt_Derby_Ensembl_104.bridge
Caenorhabditis elegans	Ce_Derby_Ensembl_104.bridge
Canis familiaris	Cf_Derby_Ensembl_104.bridge
Ciona intestinalis	Ci_Derby_Ensembl_104.bridge
Drosophila melanogaster	Dm_Derby_Ensembl_104.bridge
Danio rerio	Dr_Derby_Ensembl_104.bridge
Escherichia coli	Ec_Derby_Ensembl_91.bridge
Gallus gallus	Gg_Derby_Ensembl_104.bridge
Gibberella zeae	Gz_Derby_Ensembl_Fungi_39.bridge
Glycine max	Gm_Derby_Ensembl_Plant_32.bridge
Homo sapiens	Hs_Derby_Ensembl_104.bridge
Hordeum vulgare	Hv_Derby_Ensembl_Plant_32.bridge
Macaca mulatta	Ml_Derby_Ensembl_104.bridge
Mus musculus	Mm_Derby_Ensembl_104.bridge
Mycobacterium tuberculosis	Mx_Derby_Ensembl_85.bridge
Ornithorhynchus anatinus	Oa_Derby_Ensembl_104.bridge
Oryza indica	Oi_Derby_Ensembl_Plant_32.bridge
Oryza japonica	Oj_Derby_Ensembl_Plant_39.bridge
Ovis aries	Ova_Derby_Ensembl_104.bridge
Populus trichocarpa	Pi_Derby_Ensembl_Plant_32.bridge
Pan troglodytes	Pt_Derby_Ensembl_104.bridge
Equus caballus	Qc_Derby_Ensembl_104.bridge
Rattus norvegicus	Rn_Derby_Ensembl_104.bridge
Saccharomyces cerevisiae	Sc_Derby_Ensembl_104.bridge
Solanum lycopersicum	Sl_Derby_Ensembl_Plant_32.bridge
Sus scrofa	Ss_Derby_Ensembl_104.bridge
Vitis vinifera	Vv_Derby_Ensembl_Plant_32.bridge
Xenopus tropicalis	Xt_Derby_Ensembl_104.bridge
Zea mays	Zm_Derby_Ensembl_Plant_39.bridge
